.main-content
  = image_tag "ジャンボ20200216.jpg", class: "janbo" 
  %a.twitter-timeline{href: "https://twitter.com/gorigorigroup?ref_src=twsrc%5Etfw"} Tweets by gorigorigroup 
  %script{async: "", charset: "utf-8", src: "https://platform.twitter.com/widgets.js"}



